body {
    background-color: #d7e1ec !important;
}

.card{
    border-radius: 25px;
    margin-top: 10%;
}

.card-index {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 10px gray;
}

.card-index img{
    /* width: 400px; */
    /* margin: 30px; */
    /* padding: 30px; */
    /* box-shadow: 1px 5px 10px gray; */

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    margin-top: 5%;

}

.card-index .card-text, a, h4 {
    text-align: justify;
    text-decoration: none;
    width: 100%;
}

/* .body-index {
    margin-top: -10px;
} */



/* cv */

.card-cv{
    /* margin-top: 15%; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.card-cv .btn {
    /* margin-top: 1px; */
    margin-bottom: 10px;
}

.cv {
    text-align: justify;
    font-size: 14px;
}


/* Kontak */
.card-kontak {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 15%; */
}


@media (max-width: 576px) { 
    .card {
        margin-top: 3%;
    }

    .text-index {
        font-size: 15px;
    }

    .body-index {
        margin-top: -10px;
    }

    .card-index img {
        width: 50%;
    }

}